@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html, body {
  font-family: "Nanum Gothic", sans-serif;
  background-color: rgb(249 250 251 / 1);
}

.wrapper {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.section {
  padding: 4rem 0;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 0 2rem;
  }

  .section {
    padding: 6rem 0;
  }
}

.text-center {
  text-align: center;
}

.page-title {
  font-family: 'Montserrat', sans-serif;
}

.dragging-disable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* 회사 소개 영역 */
.comp_section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media (min-width: 768px) {
  .comp_section {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.comp_wrapper {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 80rem;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .comp_wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.comp_content {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@media (min-width: 768px) {
  .comp_content {
    padding: 3rem;
  }
}

.comp_text {
  margin-bottom: 4rem;
  text-align: center;
}

.comp_h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 900;
  color: var(--color-slate-900);
}

@media (min-width: 768px) {
  .comp_h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.comp_description {
  margin-top: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--color-slate-600);
}

.comp_grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 3rem;
  align-items: center;
}

@media (min-width: 768px) {
  .comp_grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
