.wrapper {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.section {
  padding: 4rem 0;
  background-color: white;
}

@media (min-width: 768px) {
  .section {
    padding: 6rem 0;
  }
}
